* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: #008080;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li:not(:last-child) {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: #f8f8f8;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
  }
  
  .about-me h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-me p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .footer-nav ul {
    display: flex;
    list-style: none;
  }
  
  .footer-nav li:not(:last-child) {
    margin-right: 20px;
  }
  
  .footer-nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-nav a:hover {
    color: #f8f8f8;
  }
  
  .footer-info {
    font-size: 0.8rem;
  }

  .image-container {
    width: 400px;
    height: 600px;
    background-image: url('img/test1.jpg');
    background-size: cover;
    position: relative;
  }
  
  .arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: 10px;
  }
  
  .left-arrow,
  .right-arrow {
    font-size: 24px;
    cursor: pointer;
  }
  
  .left-arrow:hover,
  .right-arrow:hover {
    color: blue;
  }
  